
.footer-icon:hover {
    opacity: 0.5;
}

.footer-icon {
    margin-left: 2%;
}

.footer-container {
    min-height: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    bottom: 0;
    position:flex;

}